<!DOCTYPE html>
<html>
  <head>
    <title>Todo list</title>
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <form action="/users/register" method="POST" class="form-signin needs-validation">
    <h1 class="h3 mb-3 font-weight-normal">Todos</h1>
    <a href="/users/login">login</a>
    <a href="/users/register">register</a>
    </form>
  </body>
</html>
