<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link href="http://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs/4.1/examples/sign-in/signin.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/4.1/examples/cover/cover.css" rel="stylesheet">


</head>
<body class="text-center"> 
    <form action="/users/login" method="POST" class="form-signin needs-validation">
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
        <label for="validationCustom01">username</label>
        <input type="text" name="username" id="validationCustom01" placeholder="Username" required>
        <label for="validationCustom02">password</label>
        <input type="password" name="pasword" id="validationCustom02" placeholder="Password" required>
        <input type="submit" value="login" class="btn btn-lg btn-primary btn-block">
        <a href="/">home</a>
    </form>   
</body>
</html>